@tailwind base;
@tailwind components;
@tailwind utilities;



.active {
    background-color: rgba(52, 53, 65, 0.1);
}


body {
    background-color: white;
}

::-webkit-scrollbar {
    width: 0;
}

::-moz-scrollbar {
    width: 0;
}

::-ms-scrollbar {
    width: 0;
}